language: R
cache: packages
sudo: false

env:
  - PKG_PATH=$TRAVIS_BUILD_DIR/GPfit
  - R_LIBS=$TRAVIS_BUILD_DIR/temp-lib

addons:
  apt:
    packages:
      - update
      - zlib1g-dev

script:
  - mkdir $R_LIBS
  - Rscript installation.R
